* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}
.wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: azure;
}

.product_item {
  padding: 0 15px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.product_item > h2 {
  padding-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.count_button {
  padding: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.counter {
  display: flex;
  align-items: center;
  gap: 10px
}

.add_button {
  margin: auto;
  margin-top: 20px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: aquamarine;
  font-size: 1.2rem;
}



